.mat-form-field {
    margin-left: 8px;
    font-size: 12px;
  }
 
  .button-row button {
    display: table-cell;
    margin-right: 8px;
    float: right;
    
  }
table{
  margin-top: 10px;
  width: 100%;
  border: solid;
  text-align: center;
}
  table tr{
    border-bottom:solid, 1px;
  }